{% extends '::layout.html.twig' %}

{% block content %}
  <div id="container" class="container-fluid">

    {#
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">FUROs</li>
        <li class="breadcrumb-item active" aria-current="page">Lista de FURos</li>
      </ol>
    </nav>
    #}

    <h3 class="title mb-2 border-bottom border-secondary">Lista de FUROs</h3>

    <form id="filters" class="mb-2">
      <div class="row justify-content-end">
        <div class="col-2"><input type="text" class="form-control" placeholder="Buscar..." /></div>

        <div class="col-1"><input type="date" class="form-control" placeholder="Desde" /></div>
        <div class="col-1"><input type="date" class="form-control" placeholder="Hasta" /></div>
        <div class="col-auto"><button class="btn btn-primary">Filtrar</button></div>
      </div>
    </form>

    <table class="table table-striped table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col">N° FURO</th>
          <th scope="col">FECHA</th>
          <th scope="col">SOLICITANTE</th>
          <th scope="col">RECIBIDO POR</th>
          <th scope="col">ESTADO</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1234</td>
          <td>31/12/1999</td>
          <td>Paolo Arancibia</td>
          <td>Jaime Gonzalez</td>
          <td>Abierto</td>
        </tr>
        <tr>
          <td>1234</td>
          <td>31/12/1999</td>
          <td>Paolo Arancibia</td>
          <td>Jaime Gonzalez</td>
          <td>Cerrado</td>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  <script type="text/javascript">
   $(document).ready(function() {
     $('table tr').click(function(){
       location.href = '{{ url('furo_view', {'id': 1}) }}';
     }).css('cursor','pointer');
   });
  </script>
{% endblock %}
